.songs{
    border: 3px solid rgb(255, 255, 255);
    border-radius: 45px;
    background-color:rgba(106, 57, 213, 0.778);
    padding: 15px;
   display: flex;
   flex-wrap:wrap ;
   gap:60px;
   justify-content: space-around;
    margin-top: 100px;
    font-family: Gruppo;
    font-size: larger;

}
.playlistH{
    position:relative;
    top:50px;
    font-family: monoton;

}